@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --blue: #1099f5;
  --white: #f1eded;
  --background: #333;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.step-progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.step-progress-container::before {
  content: "";
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress-bar {
  background-color: var(--blue);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #000000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--white);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--blue);
}

.btn {
  background-color: var(--blue);
  color: rgb(0, 0, 0);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--white);
  cursor: not-allowed;
}
